



{{ 'hawk.css' | asset_url | stylesheet_tag }}
{{ 'prueba.css' | asset_url | stylesheet_tag }}



  <h1>TU CARRITO</h1>
  
    {% if cart.items.length != 0 %}
    <div class="cartInterface__titles">
        <div class="cartInterface__container__child1"> 
          <p>PRODUCTO</p>
          <p>PRECIOS</p>
        </div>
        <div class="cartInterface__container__child2">
          <p>CANTIDAD</p>
          <p>TOTAL</p>
        </div>  
        <hr class="displayBlock">
    </div>
      {% for item in cart.items %}
        <div class="cartInterface__line-item">
          <div>
            {{ item.image | img_url: '100x100' | img_tag }}
          </div>
          <div>     
            <p>{{item.title}}</p>
          </div>
          <div>
            {{item.quantity}}
          </div>
          <div>
            {{item.final_price}}
          </div>
          <button class="botonPrueba">
            Borrar
          </button>
        </div>
        <hr>

      {% endfor %}
    
    {% else %}
        <div>
          <h1>TU CARRITO ESTÁ VACIO</h1>
        </div>
    {% endif %}
    
  
  <hr>
